/*index page*/
body{
    background-color:#D9D9D9;
    
}

/*top section (orange)*/
#top{
    background-color: #DC8126;
    padding:60px;
}

#logo{
    width:130px;
}

.contactBtn{
    width:110px;
    height:40px;
    margin-left:20px;
    margin-top:20px;
    background-color:#D9D9D9;
}

/*navbar section (grey)*/
.navbar{
    background-color: #787878;
    color:white;
}

#miniLogo{
    width:60px;
    margin-top:10px;
    margin-bottom:10px;
}

.intro{
    margin-top:50px;
    
}

/*card section*/

/*1*/
#imgOne {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.textOne {
    background:#DC8126;
    color: black;
    z-index: 2;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
    margin-bottom:100px;
    padding:5px;
}

/*2*/
#imgTwo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.textTwo {
    background:#DC8126;
    color: black;
    z-index: 2;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
    margin-bottom:100px;
    padding:5px;
}

/*3*/
#imgThree {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.textThree {
    background:#DC8126;
    color: black;
    z-index: 2;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
    margin-bottom:100px;
    padding:5px;
}

/*4*/
#imgFour {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.textFour {
    background:#DC8126;
    color: black;
    z-index: 2;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
    margin-bottom:100px;
    padding:5px;
}

/*5*/
#imgFive {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.textFive {
    background:#DC8126;
    color: black;
    z-index: 2;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
    margin-bottom:100px;
    padding:5px;
}

/*6*/
#imgSix {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.textSix {
    background:#DC8126;
    color: black;
    z-index: 2;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
    margin-bottom:100px;
    padding:5px;
}

/*7*/
#imgSeven {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.textSeven {
    background:#DC8126;
    color: black;
    z-index: 2;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
    margin-bottom:100px;
    padding:5px;
}

/*buttons on cards*/
.btnCard{
    margin-bottom:15px;
    margin-top:10px;
    padding:4px;
    background-color: #C6721F;
    color:black;
    border-width:0.5px;
    box-shadow: black 0px 2px 4px 0px
}

.btnCard:hover{
    background-color:#ffffff;
}

.btnCard:active{
    box-shadow:none;
}



/*Services page*/
.serviceHead{
    background-color:#BEBEBE;
    padding:20px;
    text-align: left;
}


/*columns section*/
#colImg1{
  margin:20px;
}

.expand-column-wrapper {
    height: 100vh;
    max-width: 75rem;
  }
  
  .expand-column-wrapper .col {
    padding: 0rem;
    transition: all 0.5s ease-in-out;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .expand-column-wrapper .col:hover {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
  
  .expand-column-wrapper .col:hover .expand-column-content {
    opacity: 1;
  }
  
  .expand-column-wrapper .expand-column-content {
    color: #000000;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  @media screen and (max-width: 39.9375em) {
    .expand-column-wrapper {
      -webkit-flex-direction: col;
          -ms-flex-direction: col;
              flex-direction: col;
    }
  }
  
  .expand-column-wrapper .col:nth-of-type(1) {
    background-color:#DC8126;
    height: 100vh;
    background-size: cover;
  }
  
  .expand-column-wrapper .col:nth-of-type(2) {
    background-color:#C6721F;
    height: 100vh;
    background-size: cover;
  }
  
  .expand-column-wrapper .col:nth-of-type(3) {
    background-color:#DC8126;
    height: 100vh;
    background-size: cover;
  }
  
  .expand-column-wrapper .col:nth-of-type(4) {
    background-color:#C6721F;
    height: 100vh;
    background-size: cover;
  }
  
  .expand-column-wrapper .col:nth-of-type(5) {
    background-color:#DC8126;
    height: 100vh;
    background-size: cover;
  }
  
  .expand-column-wrapper .col:nth-of-type(6) {
    background-color:#C6721F;
    height: 100vh;
    background-size: cover;
  }
  .expand-column-wrapper .col:nth-of-type(7) {
    background-color:#DC8126;
    height: 100vh;
    background-size: cover;
  }
  
/*ticker*/
body { margin: 0; }

.ticker-wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  background-color: #D9D9D9; 
}
.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 20s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 20s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 2rem;
  color: black;   
  font-weight: 800;
  font-family: sans-serif;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}



/*gallery pg*/
.galleryHead{
  background-color:#BEBEBE;
  padding:20px;
  text-align: left;
}


/*gallery*/.card1 {
  width: 200px;
  height: 215px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
  
}

.card1-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

}

.card1:hover .card1-inner {
  transform: rotateY(180deg);
  box-shadow: none;
}

.card1-front,
.card1-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card1-front {
  background: white;
  border: 1px solid #e5e7eb;
}

.card1-back {
  background: #DC8126;
  color: white;
  transform: rotateY(180deg);
}

/* Ensure the image fits within the card */
.card1-front img {
  width: 100%;          /* Make the image width fill the parent div */
  height: 100%;         /* Make the image height fill the parent div */
  object-fit: cover;    /* Ensure the image covers the space without stretching */
  object-position: center; /* Center the image if it is cropped */
  border-radius: 0.5rem; /* Optional: Rounded corners on the image*/
}

.nextLine{
  list-style-type: none; /* Removes the bullets */
  padding: 0;            /* Removes any padding */
  margin: 0;    
}



/*testimonial page*/
.findOut{
  margin-top:50px;
}

.allBtns{
  margin-top:50px;
  margin-right:50px;
  margin-left:50px;
}

.testNum{
  box-shadow: #3b3b3b 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
}

.testNum:hover{
  box-shadow: #C6721F 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
  background-color:#C6721F;
}

.testNum:active{
  box-shadow:none;
}

.testsDiv{
  background-color:#DC8126;
  width: 40%;
  margin-top:100px;
  border-radius:5px;
  padding:10px;
}


/*contact page*/
#contact {
  width: 100%;
  height: 100%;
  
  margin-top:50px;
  margin-bottom:50px;
  padding:30px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  padding:50px;
}


/* Left contact page */
.form-group{
  margin-top:5px;
  margin-bottom:5px;
}

.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #ffffff;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 45px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 45px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.right{
  margin-left:80px;
}

.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #000000;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #000000;
  margin-top:25px;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #000000;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}


/*footer*/
footer{
  background-color:#BEBEBE;
}